body {
   margin: 0;
   font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}
.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
   
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 80%;
    
}

.link-button {
    text-decoration: none;
    color: papayawhip;
    background-image: linear-gradient(orange, rgb(255, 38, 0));
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image:  url(Images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}


.dream-big {
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    padding-left: 30px;
    border-radius: 20px;
    box-shadow: 25px 50px 40px gray;
   
}

#web-dev-experience {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 17, 0) rgb(255, 255, 255));
    border-image-slice: 1;
}

#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(191, 30, 240) rgb(17, 219, 255));
    border-image-slice: 1;

}

footer p {
    color: burlywood;
    text-align: center;
}